<div class="container">
  <form (ngSubmit)="search()">
    <div>
      <label for="name">Pesquisar</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" >
      <button type="submit">Pesquisar</button>
    </div>
  </form>
  <hr />
</div>

<table>
  <thead>
  <tr>
    <th></th>
    <th>Restaurante</th>
    <th>Nome</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let m of meals">
    <td>
      <a [routerLink]="['/meal', m.id]">
        <fa [name]="'edit'"></fa>
      </a>
      <a (click)="delete(m)" href="">
        <fa [name]="'minus'"></fa>
      </a>
    </td>

    <td>{{ m.restaurant.name }}</td>
    <td>{{ m.name }}</td>
  </tr>
  </tbody>
</table>

<div style="bottom: 45px; right: 24px;">
  <button routerLink="/meal/new">
    Novo
  </button>
</div>
