<div class="container">
  <form (ngSubmit)="search()">
    <div>
      <label for="name">Nome:</label>
      <br>
      <input type="text" id="name" [(ngModel)]="name" name="name">
      <br>
      <br>
      <button type="submit">
        <fa [name]="'search'"></fa>
        Pesquisar
      </button>
      <button routerLink="/meal/new">
        <fa [name]="'plus'"></fa>
        Cadastrar novo prato
      </button>
    </div>
  </form>
  <hr />
</div>

<table>
  <thead>
  <tr>
    <th></th>
    <th>Restaurante</th>
    <th>Prato</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let m of meals">
    <td>
      <a [routerLink]="['/meal', m.id]">
        <fa [name]="'edit'"></fa>
      </a>
      <a (click)="delete(m)" href="">
        <fa [name]="'minus'"></fa>
      </a>
    </td>

    <td>{{ m.restaurant.name }}</td>
    <td>{{ m.name }}</td>
  </tr>
  </tbody>
</table>
