<div class="container">
  <form (ngSubmit)="search()">
    <div>
      <label for="name">Nome:</label>
      <br>
      <input type="text" id="name" [(ngModel)]="name" name="name">
      <br>
      <br>
      <button type="submit">
        <fa [name]="'search'"></fa>
        Pesquisar
      </button>
      <button routerLink="/restaurant/new">
        <fa [name]="'plus'"></fa>
        Cadastrar novo restaurante
      </button>
    </div>
  </form>
  <hr/>
</div>

<table>
  <thead>
  <tr>
    <th></th>
    <th data-field="name">Nome</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let r of restaurants">
    <td>
      <button [routerLink]="['/restaurant', r.id]">
        <fa [name]="'edit'"></fa>
      </button>
      <button (click)="delete(r)">
        <fa [name]="'minus'"></fa>
      </button>
    </td>

    <td>{{ r.name }}</td>
  </tr>
  </tbody>
</table>
